# Tmp files
tmp/

# Make sure NO inventory file gets checked in EVER. It may contain secret keys etc !!
**/inventory/inventory*
**/inventory/**

# Make sure certs are checked in 
**/certs/**

# Ansible
**/*.retry

# Misc
hack/**
.DS_Store
stuff.md
