#
# WARNING: MAKE SURE THIS FILE GETS NEVER COMMITED TO ANY REPO !!!
#

all:
  hosts:
    localhost:
      ansible_connection: local
      ansible_python_interpreter: python
  vars:
    # API access key
    aws_access_key: AKI...
    aws_secret_key: 7t...
    dd_api_key: fd61...
    
    # The AWS region to deploy to
    region: eu-central-1

    # CentOS base image ID
    # See https://wiki.centos.org/Cloud/AWS for a list of official CentOS 7 Public Images
    image_id: ami-337be65c

    # Sudo user for the image
    instance_user: centos

    # AWS keyname and local keyfile location
    key_name: openshift_eu_central
    ansible_ssh_private_key_file: ~/.ssh/openshift_eu_central.pem

    # Cluster size
    master_nodes: 1
    infra_nodes: 1
    app_nodes: 1

    # Cluster ID
    namespace: demo

    #
    # Instance types use for the different roles
    #
    # See https://aws.amazon.com/ec2/pricing/on-demand/ for details on AWS instance sizes and pricing
    #
    bastion_node_type: "t2.small"
    master_node_type: "m4.large"
    infra_node_type: "m4.large"
    app_node_type: "m4.xlarge"

    bastion_spot_price: 0.02
    master_node_spot_price: 0.04
    infra_node_spot_price: 0.04
    app_node_spot_price: 0.08

    # Public DNS zone setup
    public_dns_zone: banga.mx
    public_subdomain_prefix: svc

    #
    # ONLY CHANGE BELOW HERE IF YOU KNOW WHAT YOU ARE DOING
    #

    # The name and tag for the base ami
    ami_name: centos7

    # OpenShift version
    deployment_type: "origin"
    openshift_release: "v3.9"
    openshift_ansible_branch: "release-3.9"
    openshift_ansible_repo: "https://github.com/openshift/openshift-ansible"

    # Networking
    vpc_name: "demo"
    vpc_cidr: "10.0.0.0/16"
    subnet_cidr: "10.0.2.0/24"
    vpc_setup_delay: 15

    # Volume size
    root_volume_size: 50
    docker_volume_size: 50

    
# *.svc.workshop.banga.mx
# master.workshop.banga.mx