
- name: Prepare the infrastructure 
  hosts: localhost
  gather_facts: false
  roles:
    - role: ../roles/create_vpc
    - role: ../roles/create_default_security_groups
  
- name: Build AMI
  hosts: localhost
  roles:
    - role: ../roles/build_base_ami

- name: Remove the infrastructure
  hosts: localhost
  roles:
    - role: ../roles/teardown_default_security_groups
